ul, li {
  font-size: 16pt;
}
/* ====================== Restaurant Details ====================== */
.inside #map-container {
  height: 500px;
}
#button-favorite {
  font-size: 18px;
}
#restaurant-cuisine {
  font-size: 16pt;
  padding: 14px;
}
#restaurant-address {
  font-size: 16pt;
}
#restaurant-hours td {
  font-size: 14pt;
}